@font-face {
    font-family: "Victor Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Victor Mono"), url('../fonts/VictorMono-Regular.woff2') format('woff2');
    font-display: swap;
}
