* + * {
    color: rgb(143, 252, 158);
    background-color: rgb(37, 42, 51);
    box-sizing: border-box;
    margin: .4em 0;
    font-family: "Iosevka", sans-serif;
}

@media (min-width: 35em) {
    .col {
        display: table-cell
    }

    .\31  {
        width: 5%
    }

    .\33  {
        width: 22%
    }

    .\34  {
        width: 30%
    }

    .\35  {
        width: 40%
    }

    .\32  {
        width: 15%
    }

    .\36  {
        width: 50%;
    }

    .row {
        display: table;
        border-spacing: 1em 0
    }
}

.row, .w-100 {
    width: 100%
}

.card:focus, hr {
    outline: 0;
    border: solid #fa0;
}

.card, pre {
    padding: 1em;
    border: solid rgb(115 124 129);
    overflow: hidden;
}

button:hover, a:hover {
    opacity: .6
}

.c {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 "Iosevka", sans-serif;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2.2em; }
h3 { font-size: 2em; text-align: center; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

a {
    float: right;
    color: #fa0;
    text-decoration: none;
}

pre {
    overflow: auto;
}

td, th {
    padding: 1em;
    text-align: left;
    border-bottom: solid #eee;
}

button .primary {
    color: white;
    background: #9c27b0 !important;
    border: solid rgb(91 99 102) !important;
}

button {
    background: #2E3440 !important;
    padding: 0.8em;
    letter-spacing: .1em;
    text-transform: uppercase;
    border: solid;
    border-color: rgb(91 99 102) !important;
    color: rgb(141, 255, 26) !important;
    font: 12px "Iosevka", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 0px;
    font-size: 15px;
    color: rgb(153, 153, 153);
}

.button-wrap {
    position: relative;
}

.new-button {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    color: #00f3ff;
    text-align: center;
    width: -webkit-fill-available;
    width: -moz-available;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9;
    /* ie8 */
}

input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    text-align: center;
}

input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

#filterBox {
    resize: both;
}

#hue {
    background: linear-gradient(
        to right, 
        hsl(0, 100%, 50%), 
        hsl(60, 100%, 50%), 
        hsl(120, 100%, 50%), 
        hsl(180, 100%, 50%), 
        hsl(240, 100%, 50%), 
        hsl(300, 100%, 50%), 
        hsl(0, 100%, 50%)
    ) !important;
}

#saturation {
    background: linear-gradient(to right, hsl(90, 0%, 50%), hsl(90, 100%, 50%)) !important;
}

#intensity {
    background: linear-gradient(to right, hsl(0, 50%, 0%), aqua) !important;
}

#Red {
    background: linear-gradient(to right, cyan, red) !important;
}

#Green {
    background: linear-gradient(to right, magenta, green) !important;
}

#Blue {
    background: linear-gradient(to right,#FCE205, blue) !important;
}

#whiteningRange, #transformXr, #transformYr, #sheerAngler, #Gamma, #Power, #Scale {
    background: linear-gradient(to right, #000000, #ffffff) !important;
}
#hue, #saturation, #intensity, #Red, #Green, #Blue, #Gamma, #Power, #Scale, #whiteningRange, #transformXr, #transformYr, #sheerAngler, form {
    width: 260px;
}

.option {
    color: mediumaquamarine;
}

.output {
    color: #B0E0E6;
}

form {
    width: 260px;
    height: 260px;
    margin: 0 auto;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 20px;
    background: linear-gradient(to right, #9A2720 0%, #9A2720 100%) no-repeat center;
    overflow: hidden;
    outline: none;
    margin: auto 20px 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #F26B5E;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

input[type="range"]::-webkit-slider-thumb:after {
    content: " ";
    width: 160px;
    height: 10px;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 5px;
    background: #ff5b32 !important;
    background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}

p {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 32px;
    margin-top: 30px;
}

.collapse:after {
    content: ">";
    color: #FFFFFF;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

#exifInfo {
    color: lawngreen;
    background-color: black !important;
    font: 1em/1.6 "Iosevka", sans-serif;
}

.collapsible {
    margin-bottom: auto;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active, .collapsible:hover {
    background-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #00f3ff !important;
}

.active:after {
    content: "\2212";
}

.content {
    width: -webkit-fill-available;
    width: -moz-available;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    object-fit: cover;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #23b499;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.typewriter {
    width: 21.5ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #212121;
    animation: cursor 1s step-start infinite,
    text 5s steps(18) alternate infinite;
}

@keyframes cursor {
    0%, 100% {
        border-color: #212121;
    }
}

@keyframes text {
    0% {
        width: 0;
    }
    100% {
        width: 21.5ch;
    }
}

#originalBox{
    visibility: hidden;
}
